{% extends "UnoegohhShopBundle:Default:index.html.twig" %}
{% block main %}

    <!-- Page Title -->

    <div class="five columns ">

        <!-- Categories -->
        <h2 class="title bottom-2">Категории <span class="line"></span></h2>
        <script>
            $(function(){
                $('.without_link').click(function(){
                    $(this).parent().next().toggle();
                });
            });
        </script>
        {% for cat in categories %}

            {% if cat.getChild | length == 0 %}
            <ul class="square-list categories ">
                <li><a href="{{ path('unoegohh_shop_category', {"categoryName" : cat.engName}) }}">{{ cat.name }}</a></li>
            </ul>
            {% else %}
                <ul class="square-list categories ">
                    <li class="without_link"  >{{ cat.name }}</li>
                </ul>
            {% endif %}
            {% if cat.getChild | length > 0 %}
                <ul class="minus-list categories"
                    {% if category.getChildId.getId == cat.getId and category.getEngName == catName %}
                    style="margin: 0 0 0 20px; display: block"
                    {% else %}
                        style="margin: 0 0 0 20px; display: none"
                    {% endif %}    >
                    {% for cat in cat.child %}
                        {% if cat.getChild | length == 0 %}
                            <ul class="square-list categories ">
                                <li ><a href="{{ path('unoegohh_shop_category', {"categoryName" : cat.engName}) }}">{{ cat.name }}</a></li>
                            </ul>
                        {% else %}
                            <ul class="square-list categories ">
                                <li class="without_link">{{ cat.name }}</li>
                            </ul>
                        {% endif %}
                        {% if cat.getChild | length > 0 %}
                            <ul class="minus-list categories"
                                    {% if category.getChildId.getId == cat.getId and category.getEngName == catName %}
                                        style="margin: 0 0 0 20px; display: block"
                                    {% else %}
                                        style="margin: 0 0 0 20px; display: none"
                                    {% endif %}    >
                                {% for cat in cat.child %}
                                    <li><a href="{{ path('unoegohh_shop_category', {"categoryName" : cat.engName}) }}">{{ cat.name }}</a></li>
                                {% endfor %}
                            </ul>

                        {% endif %}
                        {#<li><a href="{{ path('unoegohh_shop_category', {"categoryName" : cat.engName}) }}">{{ cat.name }}</a></li>#}
                    {% endfor %}
                </ul>

            {% endif %}

        {% endfor %}
        <!-- End -->
    </div>
    <div class="eleven columns bottom">

        <h2 class="title bottom-2">Поиск<span class="line"></span></h2>
        <div>
            <form action="{{ path("unoegohh_shop_search") }}" method="get">
            <div style="float:left;width: 550px;">
                <input type="text" name="query" class="text">
            </div>
            <div style="float:left;">
                <input style="margin: 0; line-height:10px;height: 41px;" type="submit" value="Поиск" class="button medium color">
            </div>
            </form>
        </div>
<div class="clearfix"></div>
        {% if not category %}
            <h2 class="title bottom-2">Популярный товар<span class="line"></span></h2>
        {% else %}
            <h2 class="title bottom-2">{{ category.name }}<span class="line"></span></h2>
        {% endif %}
        <style>
            table td {
                vertical-align: middle !important;
            }
        </style>
        {%  if products %}
        <table>
                {% for item in products %}
            <tr>
                    <td style="width:100px;"><a href="{{ path("unoegohh_shop_item", {"id" : item.id}) }}">
                            <img src="{{ item.Photos[0].url }}" alt="" style="width: 100px"/>
                    </a></td>
                    <td><a href="{{ path("unoegohh_shop_item", {"id" : item.id}) }}">{{ item.name }}</a></td>
                    {#<td><a href="{{ path("unoegohh_shop_item", {"id" : item.id}) }}" class="button small color">Подробнее</a></td>#}

            </tr>
                {% endfor %}
        </table>
        {% else %}
            <p>По данному запросу ничего не найденно!</p>
        {% endif %}

        {% if pages > 1 %}
            <ul class="pagination color">
                <li><a>Страница {{ currentPage }} из {{ pages }}</a></li>
                {% for page in range(1, pages) %}
                    <li>
                        <a {% if page == currentPage %} class="current"{% else %}href="?page={{ page }}" class="inactive"{% endif %}>{{ page }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="clearfix"></div>

{% endblock %}