{% extends "UnoegohhShopBundle:Default:index.html.twig" %}
{% block main %}

    <div class="sixteen columns"> <h1 class="page-title">Наша продукция<span class="line"></span></h1> </div>
    <!-- Page Title -->

    <div class="sixteen columns">
        <div class="title clearfix" id="options">
            <ul id="filters" class="option-set clearfix" data-option-key="filter">
                <li><a href="{{ path('unoegohh_shop_category') }}" data-option-value="*" {% if not category %}class="selected"{% endif %}>Все</a></li>
                {% for cat in categories %}
                    <li><a href="{{ path('unoegohh_shop_category', {"categoryName" : cat.engName}) }}" {% if category.id == cat.id %}class="selected"{% endif %} data-option-value=".{{ cat.EngName }}">{{ cat.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div> <!-- End options -->

    <div class="clearfix"></div>

    <div class="portfolio">

        <div class="gallery" id="contain">

            {% for item in products %}
            <!-- item 1 -->
                <div class="one-third column item element-3 {{ item.getCategoryId().getEngName() }}" data-categories="{{ item.getCategoryId().EngName  }}">

                    <a href="{{ path("unoegohh_shop_item", {"id" : item.id}) }}">
                        <div class="caption">
                            <img src="{{ item.photos[0].url }}"  class="pic" />
                            {#<span class="hover-effect zoom"></span>#}
                    </div><!-- hover effect -->
                    <h4>{{ item.name }}</h4></a>
                </div>
            {% endfor %}
            <!-- End -->

        </div><!-- End contain-->

    </div><!-- End portfolio -->
{% endblock %}