{% extends "UnoegohhShopBundle:Default:index.html.twig" %}
{% block main %}

    <!-- Page Title -->

    <div class="five columns bottom">

        <!-- Categories -->
        <h2 class="title bottom-2">Категории <span class="line"></span></h2>

        <ul class="square-list categories bottom">
            <li><a href="{{ path('unoegohh_shop_category') }}" {% if not category %}class="selected"{% endif %}>Все</a></li>
            {% for cat in categories %}
                <li><a href="{{ path('unoegohh_shop_category', {"categoryName" : cat.engName}) }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul><!-- End square-list -->
        <!-- End -->
    </div>
    <div class="eleven columns bottom">
        <h2 class="title bottom-2">Продукция<span class="line"></span></h2>
        <table>
                {% for item in products %}
            <tr>
                    <td><a href="{{ path("unoegohh_shop_item", {"id" : item.id}) }}">{{ item.name }}</a></td>
                    <td>{{ item.CategoryId.name }}</td>
                    {#<td><a href="{{ path("unoegohh_shop_item", {"id" : item.id}) }}" class="button small color">Подробнее</a></td>#}

            </tr>
                {% endfor %}
        </table>
    </div>
    <div class="clearfix"></div>

{% endblock %}