{% extends "UnoegohhShopBundle:Default:index.html.twig" %}

{% block main %}
    <div class="sixteen columns"> <h1 class="page-title"><a href="{{ path('unoegohh_shop_category') }}">Продукция</a> / <span class="gray2">{{ product.name }}</span><span class="line"></span></h1>
    </div><!-- Page Title -->

    <!-- Start Project Slider -->
    <div class="twelve columns top bottom">

        <div class="slider-project">

            <div class="flex-container">
                <div class="flexslider2">
                    <ul class="slides">
                        {% for pic in product.photos %}
                        <li>
                            <div class="caption">
                                <a href="{{ pic.url }}" rel="prettyPhoto[gallery1]"><img src="{{ pic.url }}">
                                    <span class="hover-effect big zoom"></span></a>
                            </div><!-- hover effect -->
                        </li>
                            {% endfor %}
                    </ul>
                </div>
            </div>

        </div><!-- End slider-project -->

    </div>
    <!-- End -->

    <!-- Start Project Details -->
    <div class="four columns  bottom">

        <h2 class="title top-5  bottom-2">Описание <span class="line"></span></h2>

        <div class="about-project bottom">
            {{ product.description | raw  }}
        </div>

        <div class="clearfix"></div>


    </div>
    <!-- End Project Details -->

    <div class="clearfix"></div>

{% endblock %}