{% extends "UnoegohhShopBundle:Default:index.html.twig" %}

{% block main %}

    <div class="container clearfix">

    <div class="sixteen columns"> <h1 class="page-title">Оставить заявку<span class="line"></span></h1>
    </div><!-- Page Title -->


    <div id="description">
        <div class="sixteen columns">
            <div class="description top-3 bottom-2">
                <p>
                    {{ pref().contactsText | nl2br }}

                </p>
            </div>
        </div>
    </div><!-- End description -->



    <!-- Start Contact Form -->
    <div class="eleven columns  bottom">

        <h2 class="title">Форма<span class="line"></span></h2>

            <div class="form">

                <div id="note"></div><!-- End notification -->

                <div id="fields">

                    <form class="contact" method="POST" action="?">
                        {{ form_errors(form) }}
                        {{ form_row(form._token) }}
                        <div class="form-box">
                            <label>ФИО <small>(обязательно)</small></label>
                            {{ form_widget(form.name, {'attr' :{'class' : 'text'}}) }}
                        </div><!-- End Box -->

                        <div class="form-box">
                            <label>Email <small>(обязательно)</small></label>
                            {{ form_widget(form.email, {'attr' :{'class' : 'text'}}) }}
                        </div><!-- End Box -->

                        <div class="form-box last">
                            <label>Телефон <small>(обязательно)</small></label>
                            {{ form_widget(form.phone, {'attr' :{'class' : 'text'}}) }}
                        </div><!-- End Box -->

                        <div class="form-box">
                            <label>Город <small>(обязательно)</small></label>
                            {{ form_widget(form.town, {'attr' :{'class' : 'text'}}) }}
                        </div><!-- End Box -->
                        <div class="form-box">
                            <label>Наименование организации </label>
                            {{ form_widget(form.companyName, {'attr' :{'class' : 'text'}}) }}
                        </div><!-- End Box -->

                        <div class="form-box big">
                            <label>Сообщение <small>(обязательно)</small> </label>
                            {{ form_widget(form.description) }}
                        </div><!-- End Box -->

                        <div class="clearfix"></div>

                        <input type="submit" name="submit" value="Отправить заявку" class="button medium color" />

                    </form>

                </div><!-- End fields -->

            </div>

            <!-- End contact form -->

    </div><!-- End column -->




    <div class="clearfix"></div>

    {#<section id="main" class="entire_width">#}
        {#<div class="container_12">#}
            {#<div id="content">#}
                {#<div class="grid_12">#}
                    {#<h1 class="page_title">Обратная связь</h1>#}
                {#</div><!-- .grid_12 -->#}

                {#<div class="grid_4 adress">#}
                    {#<h3>Наш адрес</h3>#}
                    {#<p>{{ pref().address }}</p>#}
                    {#<hr>#}

                    {#<h3>Телефон</h3>#}
                    {#<p>Наш офис: <span>{{ pref().phone }}</span></p>#}
                    {#<hr>#}

                    {#<h3>Email</h3>#}
                    {#<p>{{ pref().email }}</p>#}
                {#</div><!-- .adress -->#}

                {#<div class="grid_8">#}
                    {#<form class="contact" method="POST" action="?">#}
                        {#<h2>Ваше сообщение</h2>#}

                        {#{{ form_errors(form) }}#}
                        {#{{ form_row(form._token) }}#}
                        {#<div class="name">#}
                            {#<strong>Имя:</strong><sup class="surely">*</sup><br>#}
                            {#{{ form_widget(form.name) }}#}
                        {#</div><!-- .name -->#}

                        {#<div class="email">#}
                            {#<strong>Email: </strong><sup class="surely">*</sup><br>#}
                            {#{{ form_widget(form.email) }}#}
                        {#</div><!-- .email -->#}

                        {#<div class="comment">#}
                            {#<strong>Телефон:</strong><br>#}
                            {#{{ form_widget(form.phone) }}#}
                        {#</div><!-- .comment -->#}

                        {#<div class="comment">#}
                            {#<strong>Сообщение:</strong><br>#}
                            {#{{ form_widget(form.description) }}#}
                        {#</div><!-- .comment -->#}

                        {#<div class="submit">#}
                            {#<div class="field"><sup class="surely">*</sup><span>Обязательные поля</span></div>#}
                            {#<input type="submit" value="Отправить">#}
                        {#</div><!-- .submit -->#}
                    {#</form><!-- .contact -->#}
                {#</div><!-- .grid_8 -->#}
            {#</div><!-- #content -->#}

            {#<div class="clear"></div>#}
        {#</div><!-- .container_12 -->#}
    {#</section>#}
{% endblock %}